@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.container {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 4fr;
  grid-template-rows: min(220px, 1fr) 4fr;
}
.icon {
  height: 2rem;
}
.logo svg {
  height: 2rem;
  min-width: 2rem;
  fill: white;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 10px;

  margin-right: auto;
}
.logo-text {
  font-weight: bold;
}
.welcome {
  /* background-color: rgba(196, 213, 224, 0.712); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttons {
  display: flex;
  padding: 5px;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.welcome,
.search-cnt {
  padding: 0 1.5rem 1.5rem 1.5rem;
}
.welcome .left {
  display: flex;
  gap: 0.7rem;
  align-items: center;
}
.avatar-small {
  height: 4rem;
}
.welcome .left img {
  padding: 0 15px;
  height: 6rem;
}
.left p {
  font-size: 1rem;
  padding: 0.3em 0;
  font-weight: bold;
}
.left p:nth-child(2) {
  font-size: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
}
.buttons button {
  flex-shrink: 1;
  appearance: none;
  margin: 5px;
  background-color: rgba(0, 119, 255, 0.651);
  border: none;
  outline: none;
  color: white;
  width: 7rem;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 3rem;
  border-radius: 2em;
}
.search-left {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-grow: 5;
  gap: 10px;
  padding: 0 0 0 20px;
}
.sidebar {
  padding: 10px;
  grid-row: span 2;
  color: white;
  /* background: rgb(9, 9, 121);
  background: linear-gradient(
    250deg,
    rgb(14, 14, 182) 3%,
    rgb(49, 165, 231) 89%
  ); */
  background-color: rgba(0, 119, 255, 0.651);
}
.sidebar li svg {
  height: 1.5rem;
  min-width: 1.5rem;
  fill: white;
}
.sidebar li {
  font-weight: 600;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 10px 0;
}
.sidebar ul {
  padding-top: 2rem;
  padding-left: 1rem;
}
.search-cnt {
  width: auto;
  display: flex;
  /* background-color: whitesmoke; */
  padding: 10px 10px 0 10px;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}
.right-side {
  position: relative;
  box-shadow: 0px 1px 5px grey;
}
.search-right svg {
  height: 2rem;
  min-width: 2rem;
  /* fill: white; */
}
.search-right span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.5rem;
  font-weight: 500;
}
.search-left input {
  appearance: none;
  border: none;
  height: 40px;
  background-color: lightgray;
  border-radius: 1rem;
  /* max-width: 70%; */
  width: clamp(50px, 100%, 900px);
}
.search-right {
  justify-content: center;
  flex-grow: 1;
  display: flex;
  align-items: center;
  max-width: 35%;
  padding: 20px;
  font-size: 2rem;
  justify-content: space-evenly;
  min-width: 250px;
}
.main {
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 5fr minmax(200px, 1fr);
}
.project-cnt {
  /* background-color: red; */
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  padding: 0 20px;
}

.card {
  position: relative;
  height: 250px;
  /* margin: 10px;
  padding: 10px; */
  border-radius: 1rem;
  box-shadow: 0px 1px 5px grey;
}
.card::before {
  content: "";
  height: 250px;
  position: absolute;
  left: 0px;
  border-radius: 1rem 0 0 1rem;
  width: 12px;
  background-color: orange;
}
.title {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  width: 100%;
  font-weight: bold;
  font-size: 1.2rem;
}
.project-cnt .card {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-cnt {
  display: flex;
  height: 90%;
  /* border: 1px solid black; */
  padding: 10px 30px;
  flex: 1;
  flex-direction: column;
}
.card-icons {
  align-self: flex-end;
}
.card-icons svg {
  height: 2rem;
  min-width: 2rem;
  margin: 0 10px;
  fill: rgb(51, 51, 51);
}
.card-text {
  flex-grow: 1;
  overflow: auto;
}
.card-header {
  font-weight: bold;
}
.side-cnt {
  display: flex;
  flex-direction: column;
}
.announcements-cnt {
  background-color: aliceblue;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.announcements-cnt .title, .trending-cnt .title{
  padding-left: 0px;
}
.trending-cnt .title{
  padding-top: 10px;
}
.announcements-cnt .article .header {
  font-weight: 600;
}
.announcements-cnt .article {
  margin: 20px 40px;
}
.announcements-content {
  background-color: #ffffff;
  height: auto;
  flex-grow: 1;
  min-height: 350px;
  border-radius: 1rem;
  font-size: 0.8rem;
  box-shadow: 0px 1px 5px grey;
}
.announcements-content hr {
  margin: 20px 40px;
}

.trending-cnt {
  background-color: aliceblue;
  padding-right: 20px;
}
.trending-content {
  background-color: #ffffff;
  height: auto;
  flex-grow: 1;
  padding: 10px 0;
  border-radius: 1rem;
  font-size: 0.8rem;
  box-shadow: 0px 1px 5px grey;
}
.trending-content .item {
  display: flex;
  margin: 20px 20px;
  gap: 10px;
      align-items: center;
}
.item .txt{
  font-weight: 500;
}
.trending-content .item img{
  max-width: 3rem;
  height: 3rem;
}
.description {
  font-weight: 300;
}